{% extends "../base.html" %}

{% block extra_js %}
<script>
$("input[name='email']").focus();
</script>
{% end %}

{% block page_content %}


<div class="centered_wrapper"  ">
<form class="pure-form pure-form-stacked login centered" action="/login/forgot_password" method="POST">
{% if feedback_message %}
  <div class="form_feedback">{{feedback_message}}</div><br/>
{% end %}

{% if error_message %}
<div class="error">{{gt(error_message)}}</div>
{% end %}
<h3>{{gt("Send Reset Password Link")}}</h3>
<fieldset>
<label for="email">{{gt("Username or Email")}}</label><input placeholder="{{gt("Username or Email")}}" type="text" name="email" value="" />
</fieldset>

<input class="pure-button pure-button-primary" type="submit" value="{{gt("Send Email")}}" />

</form>
</div>

{% end %}
