{% extends "../base.html" %}

{% block extra_js %}
<script>
$("input[name='email']").focus();
</script>
{% end %}

{% block page_content %}

{% if next_url %}
<div class="centered_wrapper">
  <div class="centered form_feedback">{{gt("Please login to continue")}}</div>
</div>
{% end %}

<div class="centered_wrapper"  ">
<form class="pure-form pure-form-stacked login centered" action="/login" method="POST">

{% if error_message %}
<div class="error">{{gt(error_message)}}</div>
{% end %}
<fieldset>
<label for="email">{{gt("Username or Email")}}</label><input placeholder="{{gt("Email")}}" type="text" name="email" value="{{email}}" />

<label for="password">{{gt("Password")}}</label><input type="password" name="password" />
</fieldset>

<input class="pure-button pure-button-primary" type="submit" value="{{gt("Login")}}" />

<p>
<a href="/register" class="link">{{gt("Sign up")}}</a><br/>
<a href="/login/forgot_password" class="link">{{gt("Forgot password")}}</a>
</p>

</form>

{% end %}
