{% extends "../base.html" %}

{% block page_content %}


{% if error_message %}
<div class="error">{{error_message}}</div>
{% end %}

<div class="centered_wrapper">
<form class="pure-form pure-form-stacked login centered" action="/login" method="POST">
<h3>Login</h3>
<fieldset>
<label for="email">Email or Username</label><input placeholder="Email" type="text" name="email" value="{{email}}" />

<label for="password">Password</label><input type="password" name="password" />
</fieldset>

<input class="pure-button pure-button-primary" type="submit" value="login" />

</form>

{% end %}
