{% extends "../base.html" %}

{% block page_content %}


{% if error_message %}
<div class="error">{{error_message}}</div>
{% end %}

<form class="pure-form pure-form-stacked" action="/login/register" method="POST" class="login">
<fieldset>
<label for="email">Email</label><input type="text" name="email" value="{{email}}" placeholder="Email" />
<label for="username">Username</label><input type="text" name="username" value="{{username}}" placeholder="Username" />
<label for="password">Password</label><input type="password" name="password" placeholder="Password" />
<label for="confirm_password">Confirm Password</label><input type="password" name="confirm_password" placeholder="Confirm Password" />
</fieldset>
<input class="pure-button pure-button-primary" type="submit" value="register" />
</form>
{% end %}
