{% extends "../base.html" %}

{% block page_content %}



<div class="centered_wrapper">
<form class="pure-form pure-form-stacked login centered" action="/login/register" method="POST">
<h3>{{gt("Sign Up")}}</h3>
<legend>
Create verse sets, track your progress and compete on the leaderboard!
</legend>
<fieldset>
<label for="email">{{gt("Email")}}</label><input type="text" name="email" value="{{email}}" placeholder="Email" />
<label for="username">{{gt("Username")}}</label><input type="text" name="username" value="{{username}}" placeholder="Username" />
<label for="password">{{gt("Password")}}</label><input type="password" name="password" placeholder="Password" />
<label for="confirm_password">{{gt("Confirm Password")}}</label><input type="password" name="confirm_password" placeholder="Confirm Password" />
</fieldset>
{% if error_message %}
<div class="error">{{error_message}}</div>
{% end %}
<input class="pure-button pure-button-primary" type="submit" value="Create Account" />
</form>
</div>

{% end %}
