{% extends "../base.html" %}

{% block page_content %}
<div class="centered_wrapper">

{% if not user.has_key('password') %}
<div class="centered">{{gt("Please choose a password")}}</div>
{% end %}

<form class="pure-form pure-form-stacked login centered" action="/login/reset_password" method="POST">

{% if error_message %}
<div class="error">{{gt(error_message)}}</div>
{% end %}

<fieldset>
<label for="password">{{gt("New Password")}}</label><input type="password" name="password" placeholder="{{gt("New Password")}}" />
<label for="confirm_password">{{gt("Confirm Password")}}</label><input type="password" name="confirm_password" placeholder="{{gt("Confirm Password")}}" />
</fieldset>
<input class="pure-button pure-button-primary" type="submit" value="{{gt("Next")}}" />
</form>
</div>

{% end %}
