{% extends "../base.html" %}

{% block page_content %}
<div class="centered_wrapper">
<form class="pure-form pure-form-stacked login centered" action="/login/reset_password" method="POST">
{% if error_message %}
<div class="error">{{gt(error_message)}}</div>
{% end %}
<fieldset>
<label for="password">{{gt("Password")}}</label><input type="password" name="password" placeholder="Password" />
<label for="confirm_password">{{gt("Confirm Password")}}</label><input type="password" name="confirm_password" placeholder="Confirm Password" />
</fieldset>
<input class="pure-button pure-button-primary" type="submit" value="{{gt("Reset Password")}}" />
</form>
</div>

{% end %}
