@import url(http://fonts.googleapis.com/css?family=PT Sans:300,500);

#top_buttons_wrapper {
  position:absolute; 
  z-index:3;
  width:100%;
  text-align:center;
}

#top_buttons {
  z-index:2;
  display:block;
  margin:auto;
  text-align:left;
  width:900px;
}

#login_buttons {
  float:right;
  margin-top:10px;
}

body h1, body h2,body h3,body h4 {
  margin: 0.0em 0em 0.5em 0em;
}

.commentary_text p {
  margin: 0.5em 0em 1.0em 0em;
  padding-bottom: 8px;
}

.commentary_text h1, .commentary_text h2, .commentary_text h3, .commentary_text h4 {
  margin-top: 0.5em;
  margin-bottom: 0.15em;
}

#device_badges img {
  height: 45px;
  padding: 0px 10px 0px 10px;
}

textarea#message {
  width: 400px;
  height: 200px;
}

.centered_wrapper {
  text-align:center;
}

.centered {
  margin: auto;
  text-align:left;
}

form.centered {
  border: 1px solid #d9d9d9; 
  background:#f3f3f3;
  padding:20px 30px 25px 30px;
  margin-top:20px;
  display: inline-block;
}

.play_button {
  float:right;
  margin-left:8px;
}

#footer_links {
  padding-top:30px;
}

#footer {
  padding-top:50px;
  text-align:center;
  font-size:0.8em;
}

#unity_player_content {
  margin: auto;
  text-align:center;
  display: none;
}

#search {
  padding-top:20px;
}

.verseset_show {
  padding-bottom: 20px;
}

.verseset_show .links {
  padding-top: 4px;
  font-size: 0.85em;
}

.heading {
  font-size: 2.0em;
}

.pad_top {
  padding-top: 8px;
}

.pad_bottom {
  padding-bottom: 8px;
}

.paragraph {
  padding: 8px 0px 8px 0px;
}

.error {
  margin: 5px 0px 5px 0px;
  border: 2px solid red;
  text-align: center;
  padding: 5px;
}

a.button-xsmall {
  font-size: 70%;
}

a.button-small {
  font-size: 85%;
}

a.button-large {
  font-size: 110%;
}

a.button-xlarge {
  font-size: 125%;
}

body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial;
}

* {
  padding: 0;
  margin: 0;
}

#page_layout_wrapper {
  text-align: center;
  width: 100%;
}

#page_layout {
  text-align: left;
  width: 900px;
  margin: auto;
  padding: 0px 0px 50px 0px;
}

#cssmenu {
  text-align: center;
  clear: both;
  top: -4px;
}

#logo_bg {
  position:absolute;
  bottom:0px;
  width:100%;
  height:150px;
  background-image:url('/images/header_sky.png');
}

.logo table {
  width:100%;
  height:53px;
  padding: 0px
}

.logo table td.left {
  width:250px;
  text-align:left;
}

.logo table td.right {
  width:250px;
  text-align:right;
}

.logo span.username {
  font-size:1.4em;
  overflow:hidden;
}

.logo span.points {
  font-size:1.4em;
}

.logo_wrapper {
  height:50px;
  text-align: center;
  background-color: rgba(0,0,0,.2);
  position: relative;
  z-index: 1;
}

.logo img {
  height: 25px;
}

.logo {
  width: 900px;
  height: 40px;
  text-align:center;
  margin:auto;
  color: #fff;
}

#cssmenu ul.cssmenu {
  display: inline-block;
  margin: auto;
}

form.login input[type="text"], form.login input[type="password"] {
  width:200px;
}

form textarea[name="text"] {
  width: 400px;
  height: 100px;
}


#page_content {
  padding-top: 10px;
}


a {
  font-weight: bold;
}

a.link, a.link:visited, a.link:link{
  color: #0078e7;
  font-weight: normal;
}

a.link:hover, a.link:active {
  color: #2289f8;
  font-weight: normal;
}

a, a:visited, a:link {
  text-decoration: none;
  color: #444;
}

a:hover, a:active {
  color: #999;
}