@import url(http://fonts.googleapis.com/css?family=Halant:400,500);

body {
  font-family: Halant, "Helvetica Neue", Helvetica, Arial;
}

body, input, div {
  padding: 0;
  margin: 0;
}

#page_layout_wrapper {
  text-align: center;
  width: 100%;
}

#page_layout {
  text-align: left;
  width: 800px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

form.login input[type="text"], form.login input[type="password"] {
  width:200px;
}

form textarea[name="text"] {
  width: 400px;
  height: 100px;
}

#page_content {
  padding-top: 10px;
}

a {
  font-weight: bold;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: #000;
}

a:hover, a:active {
  color: #666;
}