<form action="/verse/{% if verse %}update{% else %}create{% end %}" method="POST">

<p>Reference (Ex: John 3:16)<br/><input name="reference" {% if verse %}value="{{verse['reference']}}"{% end %}/> </p>
<p>
{% include "../version_select.html" %}

</p>
<p>Verse Text<br/><textarea name="text">{% if verse %}{{verse.get('text')}}{% end %}</textarea></p>

{% if verse %}<input type="hidden" name="verse_id" value="{{verse._id}}" /> {% end %}
<input type="hidden" name="verseset_id" value="{{verseset._id}}" />
<input type="submit" value="{% if verse %}save {% else %}add verse{% end %}" />
{% if verse %}<input type="button" value="cancel" onclick="location.href='/verseset/show/{{verseset._id}}'; return false;" />{% end %}
</form>
