{% extends "../base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/markitup/sets/html/style.css" />
{% end %}

{% block extra_js %}
<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/markitup/sets/html/set.js"></script>
<script language="javascript">
  $(document).ready(function(){
   $('#mark-it-up').markItUp(mySettings);
});
</script>
{% end %}

{% block script_content %}
{% end %}

{% block page_content %}
{% include "../verse/_form.html" %}

</p>

{% end %}
