B1;2c{% extends "../base.html" %}

{% block title %}Verse Rain Leaderboard{% end %}
{% block script_content %}
{% end %}

{% block page_content %}
{% from verserain.utils.date import pretty_date %}

<div class="pad_bottom">
        <a class="pure-button {% if selected_subnav=="total" %}pure-button-primary{% end %}" href="/leaderboard/total">{{gt("Total Points")}}</a>
        <a class="pure-button {% if selected_subnav=="high" %}pure-button-primary{% end %}" href="/leaderboard/high">{{gt("High Scores")}}</a>
        <a class="pure-button {% if selected_subnav=="recent" %}pure-button-primary{% end %}" href="/leaderboard/recent">{{gt("Recent Scores")}}</a>
</div>

{% if selected_subnav == "total" %}

<table class="pure-table pure-table-bordered" style="width:100%;">
<thead><tr><th>#</th><th>{{gt("User")}}</th><th>{{gt("Score")}}</th><th>{{gt("Accuracy")}}</th><th>{{gt("{0} Blocks", "#")}}</th></tr></thead>
<tbody>
{% set i = 1 +start_index %}
{% for u in users %}
<tr><td>{{i}}</td><td>{% module UserLink(user=u) %}</td><td>{{u.total_score()}}</td><td>{{u.accuracy()}}%</td><td>{{u.total_blocks()}}</td></tr>
{% set i = i + 1 %}
{% end %}
</tbody>
</table>

{% elif (selected_subnav == "high") or (selected_subnav == "recent") %}

{% module ScoresTable(scores, start_index=start_index, gt=gt) %}

{% end %}
<br/>

{% module Paginator(paginator=paginator, base_url=base_url) %}

{% end %}

