{% extends "../base.html" %}

{% block title %}Verserain Leaderboard{% end %}
{% block script_content %}
{% end %}

{% block page_content %}
{% from verserain.utils.date import pretty_date %}
<h2>Highest Total Scores</h2>
<table class="pure-table pure-table-bordered" style="width:100%;">
<thead><tr><th>#</th><th>User</th><th>Score</th></tr></thead>
<tbody>
{% set i = 1 %}
{% for u in users %}
<tr><td>{{i}}</td><td>{% module UserLink(user=u) %}</td><td>{{u['total_score']}}</td></tr>
{% set i = i + 1 %}
{% end %}
</tbody>
</table>

<br/>

<h2>Highest Scores</h2>
{% module ScoresTable(highest_vs_scores) %}

<br/>

<h2>Recent Scores</h2>
{% module ScoresTable(recent_vs_scores) %}

<br/>

{% end %}

