{% extends "../base.html" %}

{% block page_content %}
{% from verserain.verse import language %}

<h2>Help Us Translate Verserain</h2>

<form style="">
&nbsp; Language: &nbsp; <select name="language" onchange="location.href='/translation/'+this.value;">
{% for lang_code in language.LANGUAGE_CODES %}
<option value="{{lang_code}}" {% if lang_code == language_code %}selected{% end %} >{{language.LANGUAGE_BY_CODE[lang_code]}}</option>
{% end %}
</select>
</form>

{% if user.is_admin() and language_code == 'en' %}
<form class="centered pure-form pure-form-stacked" onsubmit="var msgid = $('#addstring').val(); $('#feedback').html('adding string..'); vr.ajax_request('/translation/save',{language:'en',msgid:msgid,msgstr:msgid},'#feedback'); return false;">
<fieldset>
<span id="feedback"></span>
<label for="addstring">Add String</label>
<input type="text" value="" style="width:500px;" id="addstring"></input>
</fieldset>
<input type="submit" class="pure-button" value="Add String" />
</form>

{% end %}

<form class="pure-form pure-form-stacked centered">

{% set i=0 %}
{% for tran in trans %}
<fieldset>
<label for="tran_{{i}}">{{tran["msgid"]}} {% if user and user.is_admin() and tran.has_key('_id') %}&nbsp;
<a href="#" onclick="vr.ajax_request('/translation/remove/{{str(tran._id)}}', {}, '#status_{{i}}'); return false;" class="pure-button button-xsmall">x</a>
{% end %}
</label>

<input type="text" value="{% raw tran["msgstr"] %}" style="width:500px;" onblur="$('#status_{{i}}').html('Saving..'); var msgid='{% raw tran["msgid"].replace("'","\\'")%}'; vr.ajax_request('/translation/save', {language:'{{language_code}}', msgid:msgid, msgstr:this.value}, '#status_{{i}}');"/>
<span id="status_{{i}}">{% include "history.html" %}</span>
</fieldset>

{% set i = i + 1 %}
{% end %}

</form>




{% end %}
