<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<script type="text/javascript">
{% block init_js %}
{% end %}
</script>

<title>{% block title %}Verse Rain - {{gt("Bible Verse Memorization Game")}}{% end %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="" />
<meta property='og:image' content="/images/vr_icon_small.png"/>

{% if settings.VERSERAIN_ENV == "development" %}
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/cssmenu.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/pure-min.css" type="text/css" />
{% else %}
<link rel="stylesheet" href="/stylesheets/verserain.css?v=1" type="text/css" />
{% end %}

{% block head %}
{% end %}

{% import random %}

<script type="text/javascript"> var idx=window.location.toString().indexOf("#_=_"); if (idx>0) { window.location = window.location.toString().substring(0, idx); } </script>

</head>

<body class="pure-skin-blue">

<div id="top_buttons_wrapper" >
  <div id="top_buttons" >
    <div id="login_buttons">
{% if not user %}
    <a class="pure-button pure-button-primary button-small" href="/login">{{gt("Login")}}</a>
    <a class="pure-button pure-button-primary button-small" href="/login/register">{{gt("Sign Up")}}</a>
{% end %}
    </div>
  </div>
</div>

<div class="logo_wrapper">

  <div class="logo">

 <table>
  <tr>
  <td class="left">
{% if user %}
    <span class="points">{{gt("{0} points", user.get('total_score',0))}}</span></span>
{% end %}
  </td>
  <td>
    <img src="/images/logo.png"></img>
  </td> 
  <td class="right">
{% if user %}
    <span class="username">{{user['username']}}</span> &nbsp; <a href="/login/logout" class="pure-button button-small pure-button-primary" >{{gt("Logout")}}</a>
{% end %}
  </td>
  </tr>
  </table>

  </div>

</div>

<div id="cssmenu">
<div id="logo_bg"></div>
<div id="bg-one"></div>
<div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>
<ul class="cssmenu">
  <li {% if selected_nav == "verse sets" %}class="active"{% end %}><a href="/versesets"><span>{{gt("Verse Sets")}}</span></a></li>
  {% if user %}
  <li {% if selected_nav == "profile" %}class="active"{% end %}><a href="/profile/account" ><span>{{gt("Profile")}}</span></a></li>
  {% end %}
  <li {% if selected_nav == "leaderboard" %}class="active"{% end %}><a href="/leaderboard" ><span>{{gt("Leaderboard")}}</span></a></li>
  <li {% if selected_nav == "play" %}class="active"{% end %}><a href="{{play_url}}"><span>{{gt("Play")}}</span></a></li>
  <li {% if selected_nav == "search" %}class="active"{% end %}><a href="/search"><span>{{gt("Search")}}</span></a></li>
  <li {% if selected_nav == "about" %}class="active"{% end %}><a href="/about"><span>{{gt("About")}}</span></a></li>

</ul>
</div>

<div id="page_layout_wrapper">
<div id="page_layout">

<div id="profile_status">
{% if user %}{% end %}
</div>


<div id="page_content">
{% block page_content %}
{% end %}
</div>

</div>

<div id="footer">
<div class="centered_wrapper">

<div id="footer_links">
<table class="centered"><tr>
<td><a class="pure-button" onclick="vr.show_language_selector(); return false;">{{gt("Select Language")}} ({{current_language}}) &#x25BC;</a></td>
<td><a class="pure-button" href="/translation">{{gt("Translate Verserain")}}</a></td><td>  <a class="pure-button" href="/contact">{{gt("Help")}}</a></td><td>  <a class="pure-button" href="/privacy">{{gt("Privacy")}}</a> </td>
</tr>
</table>

<div id="languages">
{% from verserain.verse.language import LANGUAGE_CODES, LANGUAGE_BY_CODE %}
{% for code in LANGUAGE_CODES %}
<a class="pure-button {% if code == current_language %}pure-button-primary{% end %}" hreflang="{{code}}" rel="alternate" href="{{language_uri.replace("%s",code)}}">{{LANGUAGE_BY_CODE[code]}}</a>
{% end %}
</div>

</div>


<table class="centered" id="device_badges">
<tr>
<td>
<a href="https://play.google.com/store/apps/details?id=com.hopeofglory.verserain" target="_blank">
  <img alt="Android app on Google Play"
       src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
</a></td>
<td>
<a href="https://itunes.apple.com/us/app/verse-rain-fun-bible-verse/id928732025?ls=1&mt=8" target="_blank">
  <img src="/images/appstore.svg" alt="Download Verse Rain on IOS Appstore" />
</a>
</td>
<td><a href="http://www.amazon.com/Verse-Rain-Bible-Memorization-Game/dp/B00OJD9TOW/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1413473131&sr=1-1&keywords=verse+rain"
target="_blank">
<img alt="Amazon Kindle Fire App" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonMobileApps/amazon-apps-kindle-us-black.png" />
</a>
</td>
</tr>
</table>

<br/>
<br/>

Hope of Glory Publishing LLC

</div>
</div>
</div>

<script src="/javascripts/application.js?v=1"></script>
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script>
{% block script_content %}
{% end %}    
</script>
{% block extra_js %}
{% end %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55793708-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
