<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>{% block title %}Verse Rain{% end %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="" />
<link rel="stylesheet" href="/stylesheets/verserain.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/cssmenu.css" type="text/css" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

{% block head %}
{% end %}

{% import random %}
{% from verserain import settings %}

<script type="text/javascript"> var idx=window.location.toString().indexOf("#_=_"); if (idx>0) { window.location = window.location.toString().substring(0, idx); } </script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{settings.FACEBOOK_API_KEY}}',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    </script>

</head>

<body>

<div id="page_layout_wrapper">
<div id="page_layout">

<div id="cssmenu">
<div id="bg-one"></div><div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>
<ul>
  <li {% if context.get("selected_nav") == "verse sets" %}class="active"{% end %}><a href="/verseset/list"><span>verse sets</span></a></li>
  {% if user %}
  <li {% if context.get("selected_nav") == "my sets" %}class="active"{% end %}><a href="/profile/verseset/list" ><span>my sets</span></a></li>
  {% end %}
  {% if not user %}
  <li {% if context.get("selected_nav") == "login" %}class="active"{% end %}  ><a href="/login"><span>login</span></a></li>
  <li {% if context.get("selected_nav") == "register" %}class="active"{% end %}><a  href="/login/register"><span>register</span></a></li>
  {% else %}
  <li class="last"><a href="/login/logout"><span>logout</span></a></li>
  {% end %}

</ul>

</div>

<div id="page_content">
{% block page_content %}
{% end %}
</div>

</div>
</div>

<script src="/javascripts/application.js?v={{random.random()}}"></script>
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script>
{% block script_content %}
{% end %}    
</script>
{% block extra_js %}
{% end %}

</body>
