<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<script type="text/javascript">
{% block init_js %}
{% end %}
</script>

<title>{% block title %}Verse Rain{% end %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="" />
<link rel="stylesheet" href="/stylesheets/verserain.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/cssmenu.css" type="text/css" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" />
<!-- link rel="stylesheet" href="/stylesheets/pure.css" type="text/css" -->

{% block head %}
{% end %}

{% import random %}
{% from verserain import settings %}

<script type="text/javascript"> var idx=window.location.toString().indexOf("#_=_"); if (idx>0) { window.location = window.location.toString().substring(0, idx); } </script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{settings.FACEBOOK_API_KEY}}',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    </script>

</head>

<body class="pure-skin-blue">

<div class="logo_wrapper">
  <div class="logo">
  <table>
  <tr>
{% if user %}
  <td class="left"><span class="username">{{user['username']}}</span></td>
{% end %}
  <td>
    <img src="/images/logo.png"></img>
  </td> 
{% if user %}
  <td class="right"><span class="points">{{user.get('total_score')}} points</span></span>
  </td>
{% end %}
  </tr>
  </table>

  </div>
</div>

<div id="cssmenu">
<div id="logo_bg"></div>
<div id="bg-one"></div>
<div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>
<ul class="cssmenu">
  <li {% if selected_nav == "verse sets" %}class="active"{% end %}><a href="/versesets"><span>Verse Sets</span></a></li>
  {% if user %}
  <li {% if selected_nav == "profile" %}class="active"{% end %}><a href="/u/{{user['username']}}" ><span>Profile</span></a></li>
  {% end %}
  <li {% if selected_nav == "leaderboard" %}class="active"{% end %}><a href="/leaderboard" ><span>Leaderboard</span></a></li>
  <li {% if selected_nav == "about" %}class="active"{% end %}><a href="/about"><span>About</span></a></li>
  {% if not user %}
  <li {% if selected_nav == "login" %}class="active"{% end %}  ><a href="/login"><span>Login</span></a></li>
  <li {% if selected_nav == "register" %}class="active"{% end %}><a  href="/login/register"><span>Sign Up</span></a></li>
  {% else %}
  <li class="last"><a href="/login/logout"><span>Logout</span></a></li>
  {% end %}

</ul>
</div>

<div id="page_layout_wrapper">
<div id="page_layout">

<div id="profile_status">
{% if user %}{% end %}
</div>


<div id="page_content">
{% block page_content %}
{% end %}
</div>

</div>
</div>

<script src="/javascripts/application.js?v={{random.random()}}"></script>
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script>
{% block script_content %}
{% end %}    
</script>
{% block extra_js %}
{% end %}

</body>
