{% extends "base.html" %}

{% block title %}Privacy{% end %}

{% block page_content %}
<h1>Privacy Policy</h1>

<h2>1. Information we collect</h2>

<p>
Members of the Verse Rain website have the option of creating an account, in order to store verses and track their progress.  We store basic personal information which is voluntarily given by the user, such as a username, email address, and password.  We also allow members to store the following information which helps us provide a positive user experience while memorizing scripture.
</p>
<p>
1. User preferences for interacting with the website<br/>
2. Statistics on verses played<br/>
3. Verses entered or selected by the user<br/>
2. Maintaining your information<br/>

</p>

<p>
All personal information collected by our website is stored on our secure server.  Your information will never be shared or sold to any third party.  Passwords are strongly encrypted, and are not retrievable.  In the event that you forget your password, please use our password recovery feature which will generate a new password and email it to you.
</p>

<h2>2. Our Privacy Policy</h2>
<p>
Our privacy policy may change from time to time, but rest assured that your personal information will always be kept secure and private.  New versions will be posted on this web site, so please check back periodically for updates.
</p>

<p>
If you have questions or feedback about this policy, please <a class="link" href="/contact">Contact Us</a>.
We love to hear from our members!</p>
{% end %}
