<select id="version_select" name="version" ><option class="lang" value="AMU">&mdash;Amuzgo de Guerrero (AMU)&mdash;</option>
<option value="AMU" >Amuzgo de Guerrero (AMU)</option>
<option class="spacer" value="AMU">&nbsp;</option>
<option class="lang" value="ERV-AR">&mdash;العربية (AR)&mdash;</option>
<option value="ERV-AR" >Arabic Bible: Easy-to-Read Version (ERV-AR)</option>
<option value="ALAB" >Arabic Life Application Bible (ALAB)</option>
<option class="spacer" value="ALAB">&nbsp;</option>
<option class="lang" value="ERV-AWA">&mdash;अवधी (AWA)&mdash;</option>
<option value="ERV-AWA" >Awadhi Bible: Easy-to-Read Version (ERV-AWA)</option>
<option class="spacer" value="ERV-AWA">&nbsp;</option>
<option class="lang" value="BG1940">&mdash;Български (BG)&mdash;</option>
<option value="BG1940" >1940 Bulgarian Bible (BG1940)</option>
<option value="BULG" >Bulgarian Bible (BULG)</option>
<option value="ERV-BG" >Bulgarian New Testament: Easy-to-Read Version (ERV-BG)</option>
<option value="BPB" >Bulgarian Protestant Bible (BPB)</option>
<option class="spacer" value="BPB">&nbsp;</option>
<option class="lang" value="CCO">&mdash;Chinanteco de Comaltepec (CCO)&mdash;</option>
<option value="CCO" >Chinanteco de Comaltepec (CCO)</option>
<option class="spacer" value="CCO">&nbsp;</option>
<option class="lang" value="APSD-CEB">&mdash;Cebuano (CEB)&mdash;</option>
<option value="APSD-CEB" >Ang Pulong Sa Dios (APSD-CEB)</option>
<option class="spacer" value="APSD-CEB">&nbsp;</option>
<option class="lang" value="CHR">&mdash;ᏣᎳᎩ ᎦᏬᏂᎯᏍ (CHR)&mdash;</option>
<option value="CHR" >Cherokee New Testament (CHR)</option>
<option class="spacer" value="CHR">&nbsp;</option>
<option class="lang" value="CKW">&mdash;Cakchiquel Occidental (CKW)&mdash;</option>
<option value="CKW" >Cakchiquel Occidental (CKW)</option>
<option class="spacer" value="CKW">&nbsp;</option>
<option class="lang" value="B21">&mdash;Čeština (CS)&mdash;</option>
<option value="B21" >Bible 21 (B21)</option>
<option value="SNC" >Slovo na cestu (SNC)</option>
<option class="spacer" value="SNC">&nbsp;</option>
<option class="lang" value="BPH">&mdash;Dansk (DA)&mdash;</option>
<option value="BPH" >Bibelen på hverdagsdansk (BPH)</option>
<option value="DN1933" >Dette er Biblen på dansk (DN1933)</option>
<option class="spacer" value="DN1933">&nbsp;</option>
<option class="lang" value="HOF">&mdash;Deutsch (DE)&mdash;</option>
<option value="HOF" >Hoffnung für Alle (HOF)</option>
<option value="LUTH1545" >Luther Bibel 1545 (LUTH1545)</option>
<option value="NGU-DE" >Neue Genfer Übersetzung (NGU-DE)</option>
<option value="SCH1951" >Schlachter 1951 (SCH1951)</option>
<option value="SCH2000" >Schlachter 2000 (SCH2000)</option>
<option class="spacer" value="SCH2000">&nbsp;</option>
<option class="lang" value="KJ21">&mdash;English (EN)&mdash;</option>
<option value="KJ21" >21st Century King James Version (KJ21)</option>
<option value="ASV" >American Standard Version (ASV)</option>
<option value="AMP" >Amplified Bible (AMP)</option>
<option value="CEB" >Common English Bible (CEB)</option>
<option value="CJB" >Complete Jewish Bible (CJB)</option>
<option value="CEV" >Contemporary English Version (CEV)</option>
<option value="DARBY" >Darby Translation (DARBY)</option>
<option value="DRA" >Douay-Rheims 1899 American Edition (DRA)</option>
<option value="ERV" >Easy-to-Read Version (ERV)</option>
<option value="ESV"  selected="selected" >English Standard Version (ESV)</option>
<option value="ESVUK" >English Standard Version Anglicised (ESVUK)</option>
<option value="EXB" >Expanded Bible (EXB)</option>
<option value="GNV" >1599 Geneva Bible (GNV)</option>
<option value="GW" >GOD’S WORD Translation (GW)</option>
<option value="GNT" >Good News Translation (GNT)</option>
<option value="HCSB" >Holman Christian Standard Bible (HCSB)</option>
<option value="PHILLIPS" >J.B. Phillips New Testament (PHILLIPS)</option>
<option value="JUB" >Jubilee Bible 2000 (JUB)</option>
<option value="KJV" >King James Version (KJV)</option>
<option value="AKJV" >Authorized (King James) Version (AKJV)</option>
<option value="LEB" >Lexham English Bible (LEB)</option>
<option value="TLB" >Living Bible (TLB)</option>
<option value="MSG" >The Message (MSG)</option>
<option value="MOUNCE" >Mounce Reverse-Interlinear New Testament (MOUNCE)</option>
<option value="NOG" >Names of God Bible (NOG)</option>
<option value="NABRE" >New American Bible (Revised Edition) (NABRE)</option>
<option value="NASB" >New American Standard Bible (NASB)</option>
<option value="NCV" >New Century Version (NCV)</option>
<option value="NET" >New English Translation (NET Bible)</option>
<option value="NIRV" >New International Reader&#039;s Version (NIRV)</option>
<option value="NIV" >New International Version (NIV)</option>
<option value="NIVUK" >New International Version - UK (NIVUK)</option>
<option value="NKJV" >New King James Version (NKJV)</option>
<option value="NLV" >New Life Version (NLV)</option>
<option value="NLT" >New Living Translation (NLT)</option>
<option value="NRSV" >New Revised Standard Version (NRSV)</option>
<option value="NRSVA" >New Revised Standard Version, Anglicised (NRSVA)</option>
<option value="NRSVACE" >New Revised Standard Version, Anglicised Catholic Edition (NRSVACE)</option>
<option value="NRSVCE" >New Revised Standard Version Catholic Edition (NRSVCE)</option>
<option value="OJB" >Orthodox Jewish Bible (OJB)</option>
<option value="RSV" >Revised Standard Version (RSV)</option>
<option value="RSVCE" >Revised Standard Version Catholic Edition (RSVCE)</option>
<option value="VOICE" >The Voice (VOICE)</option>
<option value="WEB" >World English Bible (WEB)</option>
<option value="WE" >Worldwide English (New Testament) (WE)</option>
<option value="WYC" >Wycliffe Bible (WYC)</option>
<option value="YLT" >Young&#039;s Literal Translation (YLT)</option>
<option class="spacer" value="YLT">&nbsp;</option>
<option class="lang" value="LBLA">&mdash;Español (ES)&mdash;</option>
<option value="LBLA" >La Biblia de las Américas (LBLA)</option>
<option value="DHH" >Dios Habla Hoy (DHH)</option>
<option value="JBS" >Jubilee Bible 2000 (Spanish) (JBS)</option>
<option value="NBLH" >Nueva Biblia Latinoamericana de Hoy (NBLH)</option>
<option value="NTV" >Nueva Traducción Viviente (NTV)</option>
<option value="NVI" >Nueva Versión Internacional (NVI)</option>
<option value="CST" >Nueva Versión Internacional (Castilian) (CST)</option>
<option value="PDT" >Palabra de Dios para Todos (PDT)</option>
<option value="BLP" >La Palabra (España) (BLP)</option>
<option value="BLPH" >La Palabra (Hispanoamérica) (BLPH)</option>
<option value="RVC" >Reina Valera Contemporánea (RVC)</option>
<option value="RVR1960" >Reina-Valera 1960 (RVR1960)</option>
<option value="RVR1977" >Reina Valera 1977 (RVR1977)</option>
<option value="RVR1995" >Reina-Valera 1995 (RVR1995)</option>
<option value="RVA" >Reina-Valera Antigua (RVA)</option>
<option value="TLA" >Traducción en lenguaje actual (TLA)</option>
<option class="spacer" value="TLA">&nbsp;</option>
<option class="lang" value="R1933">&mdash;Suomi (FI)&mdash;</option>
<option value="R1933" >Raamattu 1933/38 (R1933)</option>
<option class="spacer" value="R1933">&nbsp;</option>
<option class="lang" value="BDS">&mdash;Français (FR)&mdash;</option>
<option value="BDS" >La Bible du Semeur (BDS)</option>
<option value="LSG" >Louis Segond (LSG)</option>
<option value="NEG1979" >Nouvelle Edition de Genève – NEG1979 (NEG1979)</option>
<option value="SG21" >Segond 21 (SG21)</option>
<option class="spacer" value="SG21">&nbsp;</option>
<option class="lang" value="TR1550">&mdash;Κοινη (GRC)&mdash;</option>
<option value="TR1550" >1550 Stephanus New Testament (TR1550)</option>
<option value="WHNU" >1881 Westcott-Hort New Testament (WHNU)</option>
<option value="TR1894" >1894 Scrivener New Testament (TR1894)</option>
<option value="SBLGNT" >SBL Greek New Testament (SBLGNT)</option>
<option class="spacer" value="SBLGNT">&nbsp;</option>
<option class="lang" value="HHH">&mdash;עברית (HE)&mdash;</option>
<option value="HHH" >Habrit Hakhadasha/Haderekh (HHH)</option>
<option value="WLC" >The Westminster Leningrad Codex (WLC)</option>
<option class="spacer" value="WLC">&nbsp;</option>
<option class="lang" value="ERV-HI">&mdash;हिन्दी (HI)&mdash;</option>
<option value="ERV-HI" >Hindi Bible: Easy-to-Read Version (ERV-HI)</option>
<option class="spacer" value="ERV-HI">&nbsp;</option>
<option class="lang" value="HLGN">&mdash;Ilonggo (HIL)&mdash;</option>
<option value="HLGN" >Ang Pulong Sang Dios (HLGN)</option>
<option class="spacer" value="HLGN">&nbsp;</option>
<option class="lang" value="CRO">&mdash;Hrvatski (HR)&mdash;</option>
<option value="CRO" >Knijga O Kristu (CRO)</option>
<option class="spacer" value="CRO">&nbsp;</option>
<option class="lang" value="HCV">&mdash;Kreyòl ayisyen (HT)&mdash;</option>
<option value="HCV" >Haitian Creole Version (HCV)</option>
<option class="spacer" value="HCV">&nbsp;</option>
<option class="lang" value="KAR">&mdash;Magyar (HU)&mdash;</option>
<option value="KAR" >Hungarian Károli (KAR)</option>
<option value="ERV-HU" >Hungarian Bible: Easy-to-Read Version (ERV-HU)</option>
<option value="NT-HU" >Hungarian New Translation (NT-HU)</option>
<option class="spacer" value="NT-HU">&nbsp;</option>
<option class="lang" value="HWP">&mdash;Hawai‘i Pidgin (HWC)&mdash;</option>
<option value="HWP" >Hawai‘i Pidgin (HWP)</option>
<option class="spacer" value="HWP">&nbsp;</option>
<option class="lang" value="ICELAND">&mdash;Íslenska (IS)&mdash;</option>
<option value="ICELAND" >Icelandic Bible (ICELAND)</option>
<option class="spacer" value="ICELAND">&nbsp;</option>
<option class="lang" value="BDG">&mdash;Italiano (IT)&mdash;</option>
<option value="BDG" >La Bibbia della Gioia (BDG)</option>
<option value="CEI" >Conferenza Episcopale Italiana (CEI)</option>
<option value="LND" >La Nuova Diodati (LND)</option>
<option value="NR1994" >Nuova Riveduta 1994 (NR1994)</option>
<option value="NR2006" >Nuova Riveduta 2006 (NR2006)</option>
<option class="spacer" value="NR2006">&nbsp;</option>

<option class="lang" value="JA">&mdash;日本語 (JA) &mdash;</option>
<option value="JA">Japanese Living Bible (JA)</option>
<option class="spacer" value="JA">&nbsp;</option>

<option class="lang" value="JAC">&mdash;Jacalteco, Oriental (JAC)&mdash;</option>
<option value="JAC" >Jacalteco, Oriental (JAC)</option>
<option class="spacer" value="JAC">&nbsp;</option>
<option class="lang" value="KEK">&mdash;Kekchi (KEK)&mdash;</option>
<option value="KEK" >Kekchi (KEK)</option>
<option class="spacer" value="KEK">&nbsp;</option>

<option class="lang" value="KO">&mdash;한국어 (KO) &mdash;</option>
<option value="KO">Korean Living New Testament</option>
<option class="spacer" value="KO">&nbsp;</option>

<option class="lang" value="VULGATE">&mdash;Latina (LA)&mdash;</option>
<option value="VULGATE" >Biblia Sacra Vulgata (VULGATE)</option>
<option class="spacer" value="VULGATE">&nbsp;</option>
<option class="lang" value="MAORI">&mdash;Māori (MI)&mdash;</option>
<option value="MAORI" >Maori Bible (MAORI)</option>
<option class="spacer" value="MAORI">&nbsp;</option>
<option class="lang" value="MNT">&mdash;Македонски (MK)&mdash;</option>
<option value="MNT" >Macedonian New Testament (MNT)</option>
<option class="spacer" value="MNT">&nbsp;</option>
<option class="lang" value="ERV-MR">&mdash;मराठी (MR)&mdash;</option>
<option value="ERV-MR" >Marathi Bible: Easy-to-Read Version (ERV-MR)</option>
<option class="spacer" value="ERV-MR">&nbsp;</option>
<option class="lang" value="MVC">&mdash;Mam, Central (MVC)&mdash;</option>
<option value="MVC" >Mam, Central (MVC)</option>
<option class="spacer" value="MVC">&nbsp;</option>
<option class="lang" value="MVJ">&mdash;Mam, Todos Santos (MVJ)&mdash;</option>
<option value="MVJ" >Mam de Todos Santos Chuchumatán (MVJ)</option>
<option class="spacer" value="MVJ">&nbsp;</option>
<option class="lang" value="REIMER">&mdash;Plautdietsch (NDS)&mdash;</option>
<option value="REIMER" >Reimer 2001 (REIMER)</option>
<option class="spacer" value="REIMER">&nbsp;</option>
<option class="lang" value="ERV-NE">&mdash;नेपाली (NE)&mdash;</option>
<option value="ERV-NE" >Nepali Bible: Easy-to-Read Version (ERV-NE)</option>
<option class="spacer" value="ERV-NE">&nbsp;</option>
<option class="lang" value="NGU">&mdash;Náhuatl de Guerrero (NGU)&mdash;</option>
<option value="NGU" >Náhuatl de Guerrero (NGU)</option>
<option class="spacer" value="NGU">&nbsp;</option>
<option class="lang" value="HTB">&mdash;Nederlands (NL)&mdash;</option>
<option value="HTB" >Het Boek (HTB)</option>
<option class="spacer" value="HTB">&nbsp;</option>
<option class="lang" value="DNB1930">&mdash;Norsk (NO)&mdash;</option>
<option value="DNB1930" >Det Norsk Bibelselskap 1930 (DNB1930)</option>
<option value="LB" >En Levende Bok (LB)</option>
<option class="spacer" value="LB">&nbsp;</option>
<option class="lang" value="ERV-OR">&mdash;ଓଡ଼ିଆ (OR)&mdash;</option>
<option value="ERV-OR" >Oriya Bible: Easy-to-Read Version (ERV-OR)</option>
<option class="spacer" value="ERV-OR">&nbsp;</option>
<option class="lang" value="ERV-PA">&mdash;ਪੰਜਾਬੀ (PA)&mdash;</option>
<option value="ERV-PA" >Punjabi Bible: Easy-to-Read Version (ERV-PA)</option>
<option class="spacer" value="ERV-PA">&nbsp;</option>
<option class="lang" value="NP">&mdash;Polski (PL)&mdash;</option>
<option value="NP" >Nowe Przymierze (NP)</option>
<option value="SZ-PL" >Słowo Życia (SZ-PL)</option>
<option value="UBG" >Updated Gdańsk Bible (UBG)</option>
<option class="spacer" value="UBG">&nbsp;</option>
<option class="lang" value="NBTN">&mdash;Nawat (PPL)&mdash;</option>
<option value="NBTN" >Ne Bibliaj Tik Nawat (NBTN)</option>
<option class="spacer" value="NBTN">&nbsp;</option>
<option class="lang" value="AA">&mdash;Português (PT)&mdash;</option>
<option value="AA" >João Ferreira de Almeida Atualizada (AA)</option>
<option value="NVI-PT" >Nova Versão Internacional (NVI-PT)</option>
<option value="OL" >O Livro (OL)</option>
<option value="VFL" >Portuguese New Testament: Easy-to-Read Version (VFL)</option>
<option class="spacer" value="VFL">&nbsp;</option>
<option class="lang" value="MTDS">&mdash;Quichua (QU)&mdash;</option>
<option value="MTDS" >Mushuj Testamento Diospaj Shimi (MTDS)</option>
<option class="spacer" value="MTDS">&nbsp;</option>
<option class="lang" value="QUT">&mdash;Quiché, Centro Occidenta (QUT)&mdash;</option>
<option value="QUT" >Quiché, Centro Occidental (QUT)</option>
<option class="spacer" value="QUT">&nbsp;</option>
<option class="lang" value="NTLR">&mdash;Română (RO)&mdash;</option>
<option value="NTLR" >Nouă Traducere În Limba Română (NTLR)</option>
<option class="spacer" value="NTLR">&nbsp;</option>
<option class="lang" value="ERV-RU">&mdash;Русский (RU)&mdash;</option>
<option value="ERV-RU" >Russian New Testament: Easy-to-Read Version (ERV-RU)</option>
<option value="RUSV" >Russian Synodal Version (RUSV)</option>
<option value="SZ" >Slovo Zhizny (SZ)</option>
<option class="spacer" value="SZ">&nbsp;</option>
<option class="lang" value="NPK">&mdash;Slovenčina (SK)&mdash;</option>
<option value="NPK" >Nádej pre kazdého (NPK)</option>
<option class="spacer" value="NPK">&nbsp;</option>
<option class="lang" value="SOM">&mdash;Somali (SO)&mdash;</option>
<option value="SOM" >Somali Bible (SOM)</option>
<option class="spacer" value="SOM">&nbsp;</option>
<option class="lang" value="ALB">&mdash;Shqip (SQ)&mdash;</option>
<option value="ALB" >Albanian Bible (ALB)</option>
<option class="spacer" value="ALB">&nbsp;</option>
<option class="lang" value="ERV-SR">&mdash;Српски (SR)&mdash;</option>
<option value="ERV-SR" >Serbian New Testament: Easy-to-Read Version (ERV-SR)</option>
<option class="spacer" value="ERV-SR">&nbsp;</option>
<option class="lang" value="SVL">&mdash;Svenska (SV)&mdash;</option>
<option value="SVL" >Nya Levande Bibeln (SVL)</option>
<option value="SV1917" >Svenska 1917 (SV1917)</option>
<option value="SFB" >Svenska Folkbibeln (SFB)</option>
<option class="spacer" value="SFB">&nbsp;</option>
<option class="lang" value="SNT">&mdash;Kiswahili (SW)&mdash;</option>
<option value="SNT" >Neno: Bibilia Takatifu (SNT)</option>
<option class="spacer" value="SNT">&nbsp;</option>
<option class="lang" value="ERV-TA">&mdash;தமிழ் (TA)&mdash;</option>
<option value="ERV-TA" >Tamil Bible: Easy-to-Read Version (ERV-TA)</option>
<option class="spacer" value="ERV-TA">&nbsp;</option>
<option class="lang" value="TNCV">&mdash;ภาษาไทย (TH)&mdash;</option>
<option value="TNCV" >Thai New Contemporary Bible (TNCV)</option>
<option value="ERV-TH" >Thai New Testament: Easy-to-Read Version (ERV-TH)</option>
<option class="spacer" value="ERV-TH">&nbsp;</option>
<option class="lang" value="SND">&mdash;Tagalog (TL)&mdash;</option>
<option value="SND" >Ang Salita ng Diyos (SND)</option>
<option class="spacer" value="SND">&nbsp;</option>
<option class="lang" value="NA-TWI">&mdash;Twi (TWI)&mdash;</option>
<option value="NA-TWI" >Nkwa Asem (NA-TWI)</option>
<option class="spacer" value="NA-TWI">&nbsp;</option>
<option class="lang" value="UKR">&mdash;Українська (UK)&mdash;</option>
<option value="UKR" >Ukrainian Bible (UKR)</option>
<option value="ERV-UK" >Ukrainian New Testament: Easy-to-Read Version (ERV-UK)</option>
<option class="spacer" value="ERV-UK">&nbsp;</option>
<option class="lang" value="ERV-UR">&mdash;اردو (UR)&mdash;</option>
<option value="ERV-UR" >Urdu Bible: Easy-to-Read Version (ERV-UR)</option>
<option class="spacer" value="ERV-UR">&nbsp;</option>
<option class="lang" value="USP">&mdash;Uspanteco (USP)&mdash;</option>
<option value="USP" >Uspanteco (USP)</option>
<option class="spacer" value="USP">&nbsp;</option>
<option class="lang" value="VIET">&mdash;Tiêng Viêt (VI)&mdash;</option>
<option value="VIET" >1934 Vietnamese Bible (VIET)</option>
<option value="BD2011" >Bản Dịch 2011 (BD2011)</option>
<option value="BPT" >Vietnamese Bible: Easy-to-Read Version (BPT)</option>
<option class="spacer" value="BPT">&nbsp;</option>
<option class="lang" value="CCB">&mdash;汉语 (ZH-HANS)&mdash;</option>
<option value="CCB" >Chinese Contemporary Bible (CCB)</option>
<option value="ERV-ZH" >Chinese New Testament: Easy-to-Read Version (ERV-ZH)</option>
<option value="CSBS" >Chinese Standard Bible (Simplified) (CSBS)</option>
<option value="CUVS" >Chinese Union Version (Simplified) (CUVS)</option>
<option value="CUVMPS" >Chinese Union Version Modern Punctuation (Simplified) (CUVMPS)</option>
<option class="spacer" value="CUVMPS">&nbsp;</option>
<option class="lang" value="CNVT">&mdash;漢語 (ZH-HANT)&mdash;</option>
<option value="CNVT" >Chinese New Version (Traditional) (CNVT)</option>
<option value="CSBT" >Chinese Standard Bible (Traditional) (CSBT)</option>
<option value="CUV" >Chinese Union Version (Traditional) (CUV)</option>
<option value="CUVMPT" >Chinese Union Version Modern Punctuation (Traditional) (CUVMPT)</option>

</select>
