{% extends "base.html" %}
{% block init_js %}
  {% from verserain import settings %}
  {% if isIOS or isAndroid %}
setTimeout( function() { document.location = '{{settings.IOS_APPSTORE_URL}}'; }, 300);
setTimeout( function() {
window.history.back()
}, 400);
document.location = '{{device_url}}';
  {% end %}
{% end %}

{% block extra_js %}

var gameInstance = UnityLoader.instantiate("gameContainer", "/webgl/Build/webgl.json?v=2", {onProgress: UnityProgress});

var u = {
  start_verserain: function() {
    {% if device_url %}
      setTimeout(function() {
        gameInstance.SendMessage("UserSession", "HandleURL", "{{device_url}}");
      }, 3000);
    {% else %}
      {% if user %}
        gameInstance.SendMessage("UserSession","DoLogin","{{user.session_key()}}");
      {% end %}
    {% end %}
  }
};

{% end %}

{% block head %}
    <script src="/webgl/TemplateData/UnityProgress.js"></script>
    <script src="/webgl/Build/UnityLoader.js"></script>
{% end %}
{% block page_content %}    
    <div class="webgl-content">
      <div id="gameContainer" style="width:1024px; height:576px; left:-87px;"></div>
      <div class="footer" style="padding:10px;text-align:center;">
	<a href="#" onclick="gameInstance.SetFullscreen(1); return false;" class="pure-button pure-button-primary">Play in Fullscreen</a>
      </div>
    </div>
{% end %}
