{% extends "base.html" %}
{% block init_js %}
  {% from verserain import settings %}
  {% if isIOS or isAndroid %}
setTimeout( function() { document.location = '{{settings.IOS_APPSTORE_URL}}'; }, 300);
setTimeout( function() {
window.history.back()
}, 400);
document.location = '{{device_url}}';
  {% end %}
{% end %}

{% block extra_js %}
      var gameInstance = UnityLoader.instantiate("gameContainer", "webgl/Build/webgl.json", {onProgress: UnityProgress});
{% end %}

{% block head %}
    <script src="webgl/TemplateData/UnityProgress.js"></script>
    <script src="webgl/Build/UnityLoader.js"></script>
{% end %}
{% block page_content %}    
    <div class="webgl-content">
      <div id="gameContainer" style="width:1024px; height:576px; left:-87px;"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Verse Rain</div>
      </div>
    </div>
{% end %}
