{% block head %}
<link rel="stylesheet" type="text/css" href="/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/markitup/sets/html/style.css" />
{% end %}

{% block extra_js %}
<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/markitup/sets/html/set.js"></script>
<script language="javascript">
  $(document).ready(function(){
   $('#mark-it-up').markItUp(mySettings);
});
</script>
{% end %}

<form class="pure-form pure-form-stacked" action="/page/update" method="POST">
  <legend>{% if page %}Edit{% else %}Create {% end %} Page</legend>
  {% if error_message %}
  <div class="error">{{error_message}}</div>
  {% end %}
  <input type="hidden" name="name" value="{{name}}" />
  <input type="hidden" name="language" value="{{language_code}}" />
  <fieldset>
  <textarea id="mark-it-up" name="content" cols="80" rows="14">{% if page %}{% raw page.get('content','') %}{% end %}</textarea>
  </fieldset>


  <input class="pure-button" type="submit" value="{% if page %}update{% else %}create{% end %}" />
  <input class="pure-button" type="button" value="cancel" onclick="location.href='/page/{{name}}/{{language_code}}'; return false;" />
</form>

