{% extends "../base.html" %}

{% block title %}{{viewed_user['username']}}'s Verserain Profile{% end %}
{% block page_content %}

<h2 style="margin-top:2px;margin-bottom:0px;">{% module UserLink(user=viewed_user) %} </h2>
<div class="pad_bottom">
{{viewed_user.total_score()}} points, {{viewed_user.accuracy()}}% Accuracy, {{viewed_user.total_blocks()}} Blocks
</div>

<div class="pad_bottom">
  <a class="pure-button {% if selected_subnav=='versesets'%}pure-button-primary{% end %}" href="/u/{{viewed_user['username']}}">{{gt("Verse Sets")}}</a>
  <a class="pure-button {% if selected_subnav=='scores'%}pure-button-primary{% end %}" href="/u/{{viewed_user['username']}}/scores">{{gt("Recently Played")}}</a>
{% if user and (selected_nav == "profile") and (viewed_user == user) %}
  <a  class="pure-button {% if selected_subnav=='create'%}pure-button-primary{% end %}" href="/verseset/create">{{gt("Create")}}</a>
{% end %}
</div>

{% block profile_content %}
{% end %}

{% end %}
