{% extends "../base.html" %}

{% block title %}{{viewed_user['username']}}'s Verse Rain Profile{% end %}
{% block page_content %}

{% module ProfilePhoto(viewed_user, current_user=user, gt=gt) %}

<div class="pad_bottom">
{{gt("{0} points") % viewed_user.total_score()}}, {{viewed_user.accuracy()}}% {{gt("Accuracy")}}, {{gt("{0} Blocks") % viewed_user.total_blocks()}}
</div>

<div class="pad_bottom">
{% if user and (selected_nav == "profile") and (viewed_user._id == user._id) %}
  <a class="pure-button {% if selected_subnav=='account'%}pure-button-primary{% end %}" href="/profile/account">{{gt("Account")}}</a>
{% end %}
  <a class="pure-button {% if selected_subnav=='versesets'%}pure-button-primary{% end %}" href="/u/{{viewed_user['username']}}/versesets">{{gt("Verse Sets")}}</a>
  <a class="pure-button {% if selected_subnav=='scores'%}pure-button-primary{% end %}" href="/u/{{viewed_user['username']}}/scores">{{gt("Recently Played")}}</a>

{% if user and (user._id == viewed_user._id) %} 
  <a class="pure-button {% if selected_subnav=='subscriptions'%}pure-button-primary{% end %}" href="/u/{{viewed_user['username']}}/subscriptions">{{gt("Subscriptions")}}</a>
  <a class="pure-button {% if selected_subnav=='subscribers'%}pure-button-primary{% end %}" href="/u/{{viewed_user['username']}}/subscribers">{{gt("Subscribers")}}</a>
{% end %}

{% if user and (selected_nav == "profile") and (viewed_user._id == user._id) %}
  <a  class="pure-button {% if selected_subnav=='create'%}pure-button-primary{% end %}" href="/verseset/create">{{gt("Create")}}</a>
{% end %}
</div>

{% block profile_content %}
{% end %}

{% end %}
