<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wordbubble_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>wordbubble_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,54}}</string>
                <key>sourceSize</key>
                <string>{199,54}</string>
            </dict>
            <key>wordbubble_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordbubble.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:650900b6bfb4863103b668de04d0f197:b286294cf6f643726cf12ca963d14ae5:63c676124783bf1346bbc4e727eaf547$</string>
            <key>textureFileName</key>
            <string>wordbubble.png</string>
        </dict>
    </dict>
</plist>
