{% block head %}
<link rel="stylesheet" type="text/css" href="/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/markitup/sets/html/style.css" />
{% end %}

{% block extra_js %}
<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/markitup/sets/html/set.js"></script>
<script language="javascript">
  $(document).ready(function(){
   $('#mark-it-up').markItUp(mySettings);
});
</script>
{% end %}

<form class="pure-form pure-form-stacked centered" style="margin-top:6px;" action="/verseset/{% if verseset %}update{% else %}create{% end %}" method="POST">
  <h2>{% if verseset %}{{gt("Update Verse Set")}}{% else %}{{gt("Create Verse Set")}}{% end %}</h2>
  {% if error_message %}
  <div class="error">{{error_message}}</div>
  {% end %}

  <fieldset>
  <label for="name">{{gt("Verse Set Name")}}</label>
  <input type="text" name="name" {% if verseset %}value="{{verseset.get('name')}}"{% end %} placeholder="Verse Set Name"  />
  
  <label for="language" class="pad_top">{{gt("Language")}}</label>
  <select id="language" name="language" onchange="vr.update_version_select(this.value,'{{version}}');">
{% for lang_code in language_codes %}
<option value="{{ lang_code }}"
{% if (language == lang_code) %}
selected="selected"
{% end %}
>{{ language_by_code[lang_code] }}</option>
{% end %}
  </select>
  <div id="version_select_parent" class="pad_top">
{% include "../version_select.html" %}
  </div>

  <label class="pad_top" for="commentary">{{gt("Commentary")}} ({{gt("Optional")}})</label>
  <textarea id="mark-it-up" name="commentary" cols="80" rows="14">{% if verseset %}{% raw verseset.get_commentary_text() %}{% end %}</textarea>
  </fieldset>

{% if verseset %}<input type="hidden" name="verseset_id" value="{{verseset._id}}" />{% end %}


  <input class="pure-button" type="submit" value="{% if verseset %}{{gt("update")}}{% else %}{{gt("Next")}}{% end %}" />
  <input class="pure-button" type="button" value="{{gt("cancel")}}" onclick="window.history.back(); return false;" />
</form>

