<table>
<tbody>
{% set prev_v = None %}
{% set using_commentary = False %}

{% set j = -1 %}

{% for i in range(len(verses)) %}

{% if j >= i %}
  {% continue %}
{% end %}

{% set v = verses[i] %}

<tr><td class="verseset_show ">
{% if v.has_commentary() or using_commentary %}{% set using_commentary = True %}<div class="vs_and_comm">{% end %}
{% set commentary_parent = v %}
{% include "_commentary.html" %}

{% include "_verse.html" %}

{% while (using_commentary and (i+1) < len(verses)) %}
  {% if not verses[i+1].has_commentary_text() %}
    {% set j = i + 1 %}
    {% set i = j %}
    {% set v = verses[j] %}
    {% include "_verse.html" %}
  {% else %}
    {% break %}
  {% end %}

{% end %}

{% if v.has_commentary() or using_commentary %}</div>{% end %}
</td></tr>


{% set i += 1 %}
{% end %}
</tbody>
</table>
