{% extends "../base.html" %}
{% block page_content %}
{% from verserain.verse import language %}

{% if user and (selected_nav == "my sets") %}

<div class="pad_bottom">
  <a  class="pure-button pure-button-primary" href="/verseset/create">create a verse set</a>
</div>
{% else %}
<div class="pure-menu pure-menu-open pure-menu-horizontal pad_bottom">
    <ul>
        <li {% if selected_subnav=="popular" %}class="pure-menu-selected"{% end %}><a href="/versesets/popular/{{language_code}}">Popular</a></li>
        <li {% if selected_subnav=="new" %}class="pure-menu-selected"{% end %}><a href="/versesets/new/{{language_code}}">New</a></li>
<li>
<form>
&nbsp; Language: &nbsp; <select name="language" onchange="location.href='/versesets/{{selected_subnav}}/'+this.value;">
<option value="ALL" {% if language_code == "ALL" %}selected {% end %}>All Languages</option>
{% for lang_code in language.LANGUAGE_CODES %}
<option value="{{lang_code}}" {% if lang_code == language_code %}selected{% end %} >{{language.LANGUAGE_BY_CODE[lang_code]}}</option>
{% end %}
</select>
</li>
    </ul>
</div>


{% end %}

<table class="pure-table pure-table-bordered pad_bottom">

<thead><tr><th>Verse Set</th>
{% if language_code == "ALL" %}
<th>Language</th>
{% end %}
<th># Verses</th>
<th># Plays</th>
<th>Creator</th></thead>
<tbody>
{% for verseset in versesets %}
<tr>
  <td><a href="/verseset/show/{{verseset._id}}">{{verseset['name']}}</a>
  </td>

  </td>
{% if language_code == "ALL" %}
  <td>{{language.language_by_code(verseset['language'])}}</td>
{% end %}
  <td>{{verseset.verse_count()}}</td>
  <td>{{verseset.play_count()}}</td>
  <td>{{verseset.user().display_name()}}</td>
</tr>
{% end %}
</tbody>
</table>


{% end %}
