{% extends "../base.html" %}
{% block page_content %}
{% from verserain.verse import language %}

<table class="pure-table pure-table-bordered">

<thead><tr><th>Verse Set</th><th>Language</th><th># Verses</th><th>Creator</th></thead>
<tbody>
{% for verseset in versesets %}
<tr>
  <td><a href="/verseset/show/{{verseset._id}}">{{verseset['name']}}</a>
  </td>

  </td>
  <td>{{language.language_by_code(verseset['language'])}}</td>
  <td>{{verseset.verse_count()}}</td>
  <td>{{verseset.user().display_name()}}</td>
</tr>
{% end %}
</tbody>
</table>

<div style="padding-top:8px;">
{% if user %}
<a  class="pure-button pure-button-primary" href="/verseset/create">create a verse set</a>
{% end %}
</div>

{% end %}
