B1;2c{% extends "../base.html" %}
{% block page_content %}
{% from verserain.verse import language %}

{% if user and (selected_nav == "my sets") %}
<div class="pad_bottom">
  <a  class="pure-button" href="/verseset/create">create a verse set</a>
</div>
{% elif selected_subnav in ("popular", "hot", "new") %}
<div class="pad_bottom">
        <a class="pure-button {% if selected_subnav=="popular" %}pure-button-primary{% end %}" href="/versesets/popular/{{language_code}}">Popular</a>
        <a class="pure-button {% if selected_subnav=="new" %}pure-button-primary{% end %}" href="/versesets/new/{{language_code}}">New</a>
<form style="display:inline;float:right;padding-top:7px;">
&nbsp; Language: &nbsp; <select name="language" onchange="location.href='/versesets/{{selected_subnav}}/'+this.value;">
<option value="ALL" {% if language_code == "ALL" %}selected {% end %}>All Languages</option>
{% for lang_code in language.LANGUAGE_CODES %}
<option value="{{lang_code}}" {% if lang_code == language_code %}selected{% end %} >{{language.LANGUAGE_BY_CODE[lang_code]}}</option>
{% end %}
</select>
</form>
</div>
{% else %}
<h3>{{selected_subnav}}'s Verse Sets</h3>
{% end %}

<table class="pure-table pure-table-bordered pad_bottom" style="width:100%;">

<thead><tr><th>Verse Set</th>
{% if language_code == "ALL" %}
<th>Language</th>
{% end %}
<th>Verses</th>
<th>Plays</th>
<th>Creator</th></thead>
<tbody>
{% for verseset in versesets %}
<tr>
  <td><a class="link" href="/verseset/show/{{verseset._id}}">{{verseset['name']}}</a>
  </td>

  </td>
{% if language_code == "ALL" %}
  <td>{{language.language_by_code(verseset['language'])}}</td>
{% end %}
  {% set vuser = verseset.user() %}
  <td>{{verseset.verse_count()}}</td>
  <td>{{verseset.play_count()}}</td>
  <td><a class="link" href="/{{vuser['username']}}/versesets/">{{vuser.display_name()}}</a></td>
</tr>
{% end %}
</tbody>
</table>


{% end %}
