{% extends "../base.html" %}

{% block head %}
{% if is_me %} 
<link rel="stylesheet" type="text/css" href="/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/markitup/sets/html/style.css" />
{% end %}
{% end %}

{% block extra_js %}
{% if is_me %}
<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/markitup/sets/html/set.js"></script>
<script language="javascript">
  $(document).ready(function(){
   $('#mark-it-up').markItUp(mySettings);
});
</script>
{% end %}
{% end %}

{% block script_content %}
{% end %}

{% block title %}"{{verseset['name']}}" {{gt("Verses")}}{% end %}

{% block page_content %}


<div>

<div class="heading" >{{verseset.get('name')}}</div>
{% if verseset.get('language') != current_language %}
{% from verserain.verse.language import LANGUAGE_BY_CODE %}
<div>{{gt("Language:")}} {{LANGUAGE_BY_CODE[verseset['language']]}}</div>
{% end %}

<table class="verseset_caption"><tr>
<td>
{% module ProfilePhoto(verseset.user(), current_user=user, gt=gt) %}
</td>
<td valign="bottom">
<div class="play_count">{{verseset.get('play_count',0)}} {{gt("Plays")}}</div>
</td>
</tr></table>

<div class="pad_bottom links pad_top">
<a class="link" href="{{verseset.play_url()}}"><span>&#9658;</span> {{gt("challenge all verses")}}</a> 

{% if is_me %}
| <a class="link" onclick="return vr.confirm_delete();" href="/verseset/remove/{{verseset._id}}">{{gt("remove")}}</a>
{% end %}

| <div style="top:5px;" class="fb-share-button" data-href="{{current_url}}" data-layout="button_count"></div>

</div>

{% if user  %}
{% if (user._id == verseset.user_id) or user.is_admin() %}
{% if not verseset.is_published() %}
<div class="feedback" style="border: 1px solid #ccc;"><div>{{gt("Your verse set is not yet published")}} 
{% if verseset.verse_count() < 1 %}
<br/>{{gt("You need at least one verse to publish")}}
{% end %}
</div>

{% if verseset.verse_count() >= 1 %}
<a href="/verseset/publish/{{str(verseset._id)}}" class="pure-button pure-button-primary " style="margin-top:5px;">{{gt("publish")}}</a> 
{% end %}
</div> 

{% end %}
{% end %}
{% end %}

{% set commentary_parent = verseset %}
{% include "_commentary.html" %}

{% if is_me %}
<a class="pure-button pure-button-primary button-small" href="/verseset/edit/{{verseset._id}}">{{gt("edit")}}</a>

{% end %}

</div>


<br/>

<div id="verses">
{% include "_verses.html" %}
</div>

{% from verserain.utils.date import pretty_date %}

{% if len(scores) > 0 %}
<a name="high_scores">
<h3>{{gt("High Scores")}}</h3>
<div >
{% for t in ("7","30","365") %}
  <a href="/verseset/show/{{str(verseset._id)}}/{{t}}/1#high_scores" class="pure-button button-small {% if time_slice == t %}pure-button-primary{% end %}">{{gt("{0} days", t)}}</a>
{% end %}
</div>
</br>
<table class=" pure-table pure-table-bordered" style="width:100%;">
<thead><tr><th>#</th><th>{{gt("User")}}</th><th>{{gt("Score")}}</th><th>{{gt("Accuracy")}}</th><th>{{gt("{0} Blocks", "#")}}</th><th>{{gt("Time")}}</th><th>{{gt("Difficulty")}}</th><th>{{gt("Date")}}</th></tr></thead>

<tbody>

{% set i = 1 %}
{% for score in scores %}
<tr><td>{{(paginator.page-1)*paginator.per_page+i}}</td><td>{% module UserLink(username=score['username']) %}</a></td><td>{{score['score']}}</td><td>{{score.accuracy()}}%</td><td>{{score.correct()}}</td><td>{{score.elapsed_time()}}s</td><td>{{score.difficulty()}}</td><td>{{pretty_date(score['date'])}}</td></tr>
{% set i = i + 1 %}
{% end %}
</tbody>
</table>
<br/>
{% module Paginator(paginator=paginator, base_url=base_url, url_hash="high_scores") %}
</a>

<br/>
{% end %}

{% if is_me %}
{% include "../verse/_form.html" %}
{% end %}


{% end %}
