{% extends "../base.html" %}

{% block script_content %}
{% end %}

{% block title %}Verses on "{{verseset['name']}}"{% end %}

{% block page_content %}

<div>
<div class="heading" >{{verseset.get('name')}}</div>
{% set author = verseset.user() %}
<div class="pad_bottom">by {% module UserLink(user=author) %}</div> <div class="fb-like pad_bottom" data-href="{{current_url}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

{% set commentary_text = verseset.get_commentary_text() %}
{% if commentary_text %}
<div class="commentary_text pad_bottom paragraph">
{% from verserain.utils.text import remove_script %}
{% raw remove_script(commentary_text) %}
</div>
{% end %}

<div class="pad_bottom">
<a class="link" href="{{verseset.play_url()}}"><span>&#9658;</span> {{gt("challenge all verses")}}</a> 

{% if user and ((verseset['user_id'] == user._id) or user.is_admin()) %}
| <a class="link" href="/verseset/edit/{{verseset._id}}">{{gt("edit")}}</a> |
<a class="link" onclick="return vr.confirm_delete();" href="/verseset/remove/{{verseset._id}}">{{gt("remove")}}</a>
{% end %}
</div>

</div>
<br/>

<div id="verses">
{% include "_verses.html" %}
</div>

{% from verserain.utils.date import pretty_date %}

<h3>{{gt("High Scores")}}</h3>
<table class="pure-table pure-table-bordered" style="width:100%;">
<thead><tr><th>#</th><th>{{gt("User")}}</th><th>{{gt("Score")}}</th><th>{{gt("Accuracy")}}</th><th>{{gt("{0} Blocks") % "#"}}</th><th>{{gt("Time")}}</th><th>{{gt("Difficulty")}}</th><th>{{gt("Date")}}</th></tr></thead>

<tbody>
{% if len(scores) == 0 %}
<tr><td colspan="8">No one has submitted scores for challenge mode yet.</td></tr>
{% end %}

{% set i = 1 %}
{% for score in scores %}
<tr><td>{{i}}</td><td>{% module UserLink(username=score['username']) %}</a></td><td>{{score['score']}}</td><td>{{score.accuracy()}}%</td><td>{{score.correct()}}</td><td>{{score.elapsed_time()}}s</td><td>{{score.difficulty()}}</td><td>{{pretty_date(score['date'])}}</td></tr>
{% set i = i + 1 %}
{% end %}
</tbody>
</table>

<br/>

{% if user and (verseset['user_id'] == user._id) %}
{% include "../verse/_form.html" %}
{% end %}


{% end %}
