{% extends "../base.html" %}

{% block page_content %}
<div><b>{{verseset.get('name')}}</b> ({{verseset.verse_count()}} verses)</div>

<div>
{% for verse in verses %}
<p><b>{{verse['reference'] }}

{% if verse.has_key('version') %}
({{verse['version']}})
{% end %}

</b><br/>
{{verse['text']}}
</p>
{% end %}
</div>

<p>
<p>Add a verse to this set:</p>

<form action="/verse/create" method="POST">

<p>Reference (Ex: John 3:16)<br/><input name="reference" /> </p>
<p>Version (Ex: NIV, ESV, KJV)<br/> <input name="version" value="{{verseset.get('version','')}}" /> </p>
<p>Verse Text<br/><textarea name="text" style="width:400px;height:100px;"></textarea></p>
<input type="hidden" name="verseset_id" value="{{verseset._id}}" />
<input type="submit" value="add verse" />

</form>

</p>

{% end %}
